<a href="https://colab.research.google.com/github/mohannashahrad/Borealis_AI_Plant_Tree_Project/blob/main/preprocessing_scripts/Land_DataProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# Import all the required libraries
import pandas as pd
import requests
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO

In [33]:
# Define all the functions

def load_DF(url, skip):
  data = StringIO(requests.get(url).text)
  return pd.read_csv(data, skiprows = skip)

#Load datasets

In [34]:
total_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/Land_Total_Data_1960_2020.csv', range(0, 3))
total_df.head()

                  Country Name Country Code  ...          2020 Unnamed: 65
0                        Aruba          ABW  ...  1.800000e+02         NaN
1  Africa Eastern and Southern          AFE  ...  1.480704e+07         NaN
2                  Afghanistan          AFG  ...  6.528600e+05         NaN
3   Africa Western and Central          AFW  ...  9.045780e+06         NaN
4                       Angola          AGO  ...  1.246700e+06         NaN

[5 rows x 66 columns]

In [35]:
forest_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/Land_Forest_Data_1960_2020.csv', range(0, 3))
forest_df.head()

                  Country Name Country Code  ...       2020 Unnamed: 65
0                        Aruba          ABW  ...   2.333333         NaN
1  Africa Eastern and Southern          AFE  ...  30.251786         NaN
2                  Afghanistan          AFG  ...   1.850994         NaN
3   Africa Western and Central          AFW  ...  19.816762         NaN
4                       Angola          AGO  ...  53.426951         NaN

[5 rows x 66 columns]

In [36]:
agrc_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/Land_Agriculture_Data_1960_2020.csv', range(0, 3))
agrc_df.head()

                  Country Name Country Code  ... 2020 Unnamed: 65
0                        Aruba          ABW  ...  NaN         NaN
1  Africa Eastern and Southern          AFE  ...  NaN         NaN
2                  Afghanistan          AFG  ...  NaN         NaN
3   Africa Western and Central          AFW  ...  NaN         NaN
4                       Angola          AGO  ...  NaN         NaN

[5 rows x 66 columns]

In [37]:
total_df.drop(['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 65'], axis=1, inplace=True)
total_df = pd.melt(total_df, id_vars='Country Name', var_name='Time', value_name='Total Land (m2)')
total_df.rename(columns={"Country Name": "Country"}, inplace=True)
total_df['Time'] = total_df['Time'].astype(int)
total_df = total_df[total_df.Time >= 1990]
total_df = total_df[total_df.Time <= 2020]
display(total_df)

                           Country  Time  Total Land (m2)
7980                         Aruba  1990     1.800000e+02
7981   Africa Eastern and Southern  1990     1.477796e+07
7982                   Afghanistan  1990     6.528600e+05
7983    Africa Western and Central  1990     9.045780e+06
7984                        Angola  1990     1.246700e+06
...                            ...   ...              ...
16221                       Kosovo  2020              NaN
16222                  Yemen, Rep.  2020     5.279700e+05
16223                 South Africa  2020     1.213090e+06
16224                       Zambia  2020     7.433900e+05
16225                     Zimbabwe  2020     3.868500e+05

[8246 rows x 3 columns]

In [38]:
forest_df.drop(['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 65'], axis=1, inplace=True)
forest_df = pd.melt(forest_df, id_vars='Country Name', var_name='Time', value_name='Forest (%)')
forest_df.rename(columns={"Country Name": "Country"}, inplace=True)
forest_df['Time'] = forest_df['Time'].astype(int)
forest_df = forest_df[forest_df.Time >= 1990]
forest_df = forest_df[forest_df.Time <= 2020]
display(forest_df)

                           Country  Time  Forest (%)
7980                         Aruba  1990    2.333333
7981   Africa Eastern and Southern  1990   40.565912
7982                   Afghanistan  1990    1.850994
7983    Africa Western and Central  1990   22.776908
7984                        Angola  1990   63.578070
...                            ...   ...         ...
16221                       Kosovo  2020         NaN
16222                  Yemen, Rep.  2020    1.039832
16223                 South Africa  2020   14.055091
16224                       Zambia  2020   60.283337
16225                     Zimbabwe  2020   45.093912

[8246 rows x 3 columns]

In [39]:
agrc_df.drop(['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 65'], axis=1, inplace=True)
agrc_df = pd.melt(agrc_df, id_vars='Country Name', var_name='Time', value_name='Agriculture (%)')
agrc_df.rename(columns={"Country Name": "Country"}, inplace=True)
agrc_df['Time'] = agrc_df['Time'].astype(int)
agrc_df = agrc_df[agrc_df.Time >= 1990]
agrc_df = agrc_df[agrc_df.Time <= 2020]
display(agrc_df)

                           Country  Time  Agriculture (%)
7980                         Aruba  1990        11.111111
7981   Africa Eastern and Southern  1990        43.570264
7982                   Afghanistan  1990        58.266703
7983    Africa Western and Central  1990        35.237689
7984                        Angola  1990        46.044758
...                            ...   ...              ...
16221                       Kosovo  2020              NaN
16222                  Yemen, Rep.  2020              NaN
16223                 South Africa  2020              NaN
16224                       Zambia  2020              NaN
16225                     Zimbabwe  2020              NaN

[8246 rows x 3 columns]

In [40]:
total_index = total_df.set_index(['Country', 'Time'])
forest_index = forest_df.set_index(['Country', 'Time'])
agrc_index = agrc_df.set_index(['Country', 'Time'])
merged_df = total_index.join([forest_index, agrc_index], how='outer')
merged_df.head()

                                  Total Land (m2)  Forest (%)  Agriculture (%)
Country                     Time
Aruba                       1990     1.800000e+02    2.333333        11.111111
Africa Eastern and Southern 1990     1.477796e+07   40.565912        43.570264
Afghanistan                 1990     6.528600e+05    1.850994        58.266703
Africa Western and Central  1990     9.045780e+06   22.776908        35.237689
Angola                      1990     1.246700e+06   63.578070        46.044758

In [41]:
merged_df.reset_index(inplace=True)
merged_df.to_csv("land.csv")